header {
    position: fixed;
    width: 100%;
    height: 33pt;
    background-color: white;
    border-bottom: 1px lightgray solid;
    z-index: 9999;
}

.logo {
    width: 45%;
    float: left;
    text-align: left;
    margin: 7pt;
}

header ul li {
    display: inline-block;
    margin: 10pt -2pt -5pt -2pt;
    padding: 8pt 5pt 0 5pt;
    height: 31pt;
}

header ul li:hover {
    background-color: lightgray;
}

header ul {
    float: right;
    text-align: right;
    width: 45%;
    overflow: hidden;
    list-style: none;
    margin-top: -10pt;
    z-index: 20;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: black;
}
 
h1 {
    margin: 0;
    padding-top: 50pt;
}

.left > h1 {
    padding-top: 0;
}

.visitor {
    text-align: center;
    padding-top: 50pt;
    padding-bottom: 50pt;
    white-space: nowrap;
}

.counter-bg {
    margin: 2pt;
    font-size: 24pt;
    color: lightgreen;
    background-color: black;
    font-family: monospace;
}

.counter {
    animation: 2s linear infinite blink;
}
@keyframes blink {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.left {
    float: left;
    width: 60%;
    text-align: center;
}

.members ul li {
    list-style: none;
}

.right {
    float: right;
    width: 35%;
    text-align: left;
}

.under {
    clear: both;
    text-align: center;
    width: 100%;
}
