{% extends "base" %}

{% block content %}
    <h1>SoSのページへようこそ！</h1>

    {% for ref in refs %}
        <p><a href="{{ref.link}}">{{ref.name}}</a></p>
    {% endfor %}

    <p>あなたは{{counter}}人目の訪問者です。</p>
    
{% endblock content %}
